html, body {
  background: #efefef;
}

html {
  padding: 0;
  margin: 0;
}

body {
  width: 75%;
  max-width: 50em;
  padding: 0;
  margin: 0 auto 0 auto;
  font-family: 'Dosis';
  line-height: 1.25em;
  font-size: 1.11em;
}

header {
  padding: 2rem 2rem 2rem 2rem;
  background: #eaeaea;
  border-bottom: thick solid #ddd;
}

header #title {
  box-sizing: border-box;
  width: 100%;
}

header #title h1 {
  box-sizing: border-box;
  margin: 0;
  margin-left: calc(100px + 2rem);
  line-height: 2rem;
  color: /* #24bb70; */ #2cab4d;
  font-family: 'Dosis';
  font-weight: 400;
  font-size: 2em;
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
  vertical-align: baseline;
}

header #title h1 > a,
header #title h1 > a:link,
header #title h1 > a:visited {
  text-decoration: none;
  color: /* #24bb70; */ #2cab4d;
  border: 0em;
}

header #title ul {
  box-sizing: border-box;
  list-style: none;
  line-height: 2rem;
  vertical-align: baseline;
  margin: 0 0 0 0;
  padding-left: calc(100px + 2rem);
}

header li {
  display: inline-block;
}

header li:first-child .button {
  padding-left: 0;
}

header #about {
  width: 75%;
  display: table;
  margin: 2rem 0 0 0;
}

header p {
  display: table-cell;
  vertical-align: top;
  margin: 0;
  padding: 0 0 0 2rem;
}

header #photo {
  display: table-cell;
  height: 100px;
  width: 100px;
  padding: 0;
}

footer {
  padding-left: calc(100px + 2rem);
  display: none;
}

main {
  padding: 0 2rem 1rem 2rem;
  padding-left: calc(100px + 3rem);
}

main .back,
main h2 {
  box-sizing: border-box;
  font-weight: 300;
  font-size: 1.15em;
  margin: 0;
  padding: 0.25em;;
  background: #fff;
  color: #2cab4d;
  vertical-align: baseline;
}

main .back:before,
main h2:before {
  position: relative;
  box-sizing: border-box;
  width: 0.75em;
}

main h2:before {
  content: '\00BB  ';
}

main h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

main h2 .date {
  float: left;
  display: block;
  background: #f5f5f5;
  color: #666;
  padding: 1rem;
  margin-left: calc(-100px - 1.25rem);
  text-align: center;
  margin-top: -0.25em;
}

main .post h2 .date {
  margin-top: 3.8rem;
}

main h2 .year {
  font-size: 1.25em;
}

main h2 .time {
  font-size: 1.15em;
}

main h2 + * {
  padding-top: 0em;
}

main h2 a,
main h2 a:link {
  border-bottom: 0em;
}

main .back:before {
  content: '\00AB  ';
  text-align: left;
}

main .back {
  margin-left: calc(-100px - 1rem);
  float: left;
}

main .back a,
main .back a:link,
main .back a:visited
main h2 a,
main h2 a:link,
main h2 a:visited {
  color: #2cab4d;
  border: 0;
}

main article {
}

main article > h3,
main article > p,
main article > ul {
  color: #666;
  border-left: thin solid #2cab4d;
  margin: 0em 0em 0em 0.5em;
  padding: 1em 0.6em 0em 0.6em;
  text-align: justify;
  font-size: 1em;
}

main article > h3 {
  font-family: 'Dosis';
  padding-top: 2em;
}

main article > ul {
  padding-left: 0;
  list-style: none;
}

main article > ul ul {
  list-style: square;
}

main article > ul > li:before {
  box-sizing: border-box;
  content: "\2014";
  margin-left: 0.75em;
  padding-right: 0.5em;
}

main article > ul > li {
  text-indent: -2.00em;
  padding-left: 2.00em;
  margin-bottom: 1em;
}

main article > ul > li:last-child {
  margin-bottom: 0em;
}

main article > ul li li {
  padding-left: 0em;
  text-indent: 0em;
  margin-top: 0.25em;
}

main article > *:last-child {
  padding-bottom: 1em;
}

main ul.posts li:before {
  content: '';
  margin: 0em;
}

main ul.posts li {
  padding-left: 2.25em;
  margin-bottom: 0.15em;
}

main ul.posts a {
  margin-left: 0.5em;
}

a,
a:link,
a:visited {
  color: #333;
  text-decoration: none;
  border-bottom: thin dotted #2cab4d;
}

a:hover {
  color: #2cab4d;
}

.button,
header .button,
header .button:link
header .button:visited {
  font-family: 'Dosis';
  font-weight: 300;
  color: #777;
  text-decoration: none;
  border-bottom: 0em;
  padding: 0em 0.5em 0em 0.5em;
}
.button:before { content: '['; margin-right: 0.1em; }
.button:after  { content: ']'; margin-left:  0.1em; }
.button:hover
header a.button:hover { color: #333; }

.highlight {
  margin-top: 1em;
  margin-bottom: 1em;
}
.highlight pre {
  padding: 0.5em 0.5em 0.5em 0.5em;
}
