<article id="musician" class="about" markdown="1">

## Autodidact Musician

Over the years I have taught myself how to play various instruments and
consecutively tried my luck in a number of small underground bands, with
music styles ranging from Black Metal to Stoner Rock.

Having moved from one country to another, my main focus today is my
one-man project *Ufobuddha*.

### ![Ufobuddha](/images/ufobuddha-logo.png)

Ufobuddha is energetic, loud, noisy and spacious rock that occasionally
drops into a state of melancholia.

I set no rules for what the music should sound like, so most songs exist
purely by virtue of jamming and experimenting.

A first album is planned for 2014.

* [BANDCAMP](http://ufobuddha.bandcamp.com)
* [SOUNDCLOUD](http://soundcloud.com/ufobuddha)

### Jams &amp; Other Experiments


I try to organise jam sessions with friends from time to time.

The results of these and other experiments outside my official music
projects are all collected on the SoundCloud page linked below

* [SOUNDCLOUD](http://soundcloud.com/jannispohlmann)

</article>
