<article id="musician" class="about" markdown="1">

## Autodidact Musician

I have played different instruments over the years and have tried my
luck in a number of small underground bands, with music styles ranging
from Black Metal to Stoner and Post/Indie Rock. Having moved around a
fair amount recently, my current focus is the solo project *Ufobuddha*.

### ![Ufobuddha](/images/ufobuddha-logo.png)

Ufobuddha is energetic, loud, noisy and spacious rock that occasionally
drops into a state of melancholia. It builds on simple roots and
repetetive, layered patterns. There are no set rules or limits as to
what the result should sound like and most songs are the results of
extensive jams and experimentation.

A first album is planned for 2014.

<a class="button" href="https://www.facebook.com/pages/Ufobuddha/225537624180893">FACEBOOK</a>
<a class="button" href="http://ufobuddha.bandcamp.com">BANDCAMP</a>
<a class="button" href="http://soundcloud.com/ufobuddha">SOUNDCLOUD</a>

### Zilov Gaps

<q>Zilov Gaps is guitars, electronics, basses, beats, drums, vocals,
synths, glockenspiels and more. It’s post-rock but with vox; electronica
but with guitars; shoegaze but with beats; melodic but with epic
noise-fests. It's the space between everywhere else, filled with
massive, wondrous noise.</q>

I joined Zilov Gaps (then called *The Detour*) as drummer in 2013
and stayed with them until I moved away from Manchester in 2014.
Together we played various gigs and festivals around Manchester and
Liverpool and recorded new song material.

<a class="button" href="http://facebook.com/zilovgaps">FACEBOOK</a>
<a class="button" href="http://soundcloud.com/zilovaps">SOUNDCLOUD</a>
<a class="button" href="http://twitter.com/zilovgaps">TWITTER</a>

### Jams &amp; Other Experiments

I try to record jam sessions as much as I can. Some of them are
available on my personal SoundCloud page.

<a class="button" href="http://soundcloud.com/jannispohlmann">SOUNDCLOUD</a>

</article>
