<article id="open-source-enthusiast" class="about" markdown="1">

## Open Source Enthusiast

I believe in Open Source. I think it is a fantastic way for people to
experience working together passionately from all around the globe and
share the results for others to use, discuss, contribute to or develop
further.

It's these aspects that make the open source ecosystem so much more than
pure development. The variety of opinions in and approaches taken by
communities means that there is a strong emphasis on debating ideas, on
tactful communication and on reaching consensus. Yet a large part of
open source projects are also do-ocracies or meritocracies, where the
main means of communication and gaining trust is the contribution of
actual code (&#8212;a refreshing contrast to politics!).

Combined with the fact that open source projects are governed and
developed in public, this makes for an ecosystem rich of advantages:

* personal skills (technical, teamwork, communication) can be developed
  in superior ways, proactive and responsible behavior is encouraged;
* anyone can look behind the scenes and at the source, vulnerabilities
  can be detected more easily, malicious software and spyware prevented;
* public discussions and reviews lead to better quality code (but not
  necessarily better software);
* the line between developers and users is blurred, increasing the level
  of user involvement and identification with open source projects
  (granted, at present this is largely due to the fact that most users
  already have a technical background);
* a culture of sharing, working together is established that makes
  people feel more as one, pulling in the same direction, while at the
  same time allowing for diversity and alternative solutions.

With this come disadvantages as well and it is no surprise that
industries are struggling with the complexity of the open source
ecosystem both in terms of diversity as well as influencing and driving
decisions and progress.

### Personal contributions

Over the last decade I have been involved in various open source
projects:

* I used to be an active contributor to
  [Lunar Linux](http://lunar-linux.org), a source based Linux
  distribution, between 2005 and 2009
* I have been one of the core developers and leaders of the
  [Xfce desktop environment](http://xfce.org) since 2006 (although
  less and less since I started working)
* Some of my achievements, contributions and roles include:
    - Founding member and first president of the Xfce Foundation (likely
      to be replaced by an umbrella organisation)
    - Author of the
      [Xfce Release Model](http://xfce.org/about/releasemodel)
    - Release manager for
      [Xfce 4.8](http://www.xfce.org/about/news/?post=1295136000)
    - Coordinator of the
      [Xfce Goodies infrastructure](http://goodies.xfce.org)
    - Long-time maintainer of
      [Thunar](http://docs.xfce.org/xfce/thunar/start), the Xfce file
      manager
    - Author of [Tumbler](http://git.xfce.org/xfce/tumbler/), the
      thumbnail service used on the Nokia N9 and in Xfce
    - Author of [Garcon](http://git.xfce.org/xfce/garcon/), Xfce's
      freedesktop.org-compliant desktop menu library
    - Author of [Moka](http://git.xfce.org/www/moka/), a Ruby/Sinatra
      web application for managing releases of Xfce software components
    - Reduced the maintenance effort and added support for remote file
      systems in Xfce by porting the majority of Xfce
      ([Thunar](http://git.xfce.org/xfce/thunar/),
      [xfdesktop](http://git.xfce.org/xfce/xfdesktop/),
      [thunar-volman](http://git.xfce.org/xfce/thunar-volman)) to
      GIO/GVfs
    - Other initiatives include moving all translators of Xfce to
      [Transifex](http://transifex.org) and launching the
      [Xfce Design SIG](http://wiki.xfce.org/design/start) in 2011
* I have given talks on
  [Xfce 4.6](http://lunar-linux.org/~jannis/xfce/fosdem-2009/fosdem-2009-xfce4.6-and-then.pdf)
  and
  [Tumbler](http://users.xfce.org/~jannis/xfce/fosdem-2012/2012-fosdem-tumbler.pdf)
  at [FOSDEM](http://fosdem.org) 2009 and 2012
* I wrote both, my undergraduate and graduate thesis, about Open Source
  software:
    - Undergraduate thesis: Porting the Thunar File Manager to the
      Asynchronous Extensible Virtual File System Layer GIO, 2009
    - Graduate thesis: [Configurable Graph Drawing Algorithms for the Ti*k*Z Graphics Description Language](http://www.tcs.uni-luebeck.de/downloads/papers/2011/2011-configurable-graph-drawing-algorithms-jannis-pohlmann.pdf), 2011
* I have also contributed to:
    - [Ardour](http://ardour.org), where I rewrote the Wiimote remote
      control plugin and ported it to Ardour 3 in order to control
      Ardour from anywhere in the room during recording sessions
    - [Consonant](http://github.com/CodethinkLabs/consonant),
      an object-relational, cross-referenced, verifiable and
      service-oriented Git object store and web API, and its reference
      implementation
      [python-consonant](http://github.com/CodethinkLabs/python-consonant),
      both of which I designed and (partly) implemented
    - [Baserock](http://baserock.org), an open source project for
      distributed, traceable development, building and deployment
      of embedded software systems, launched by my former employer
      [Codethink](http://codethink.co.uk)

</article>
