<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,500,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" href="/css/dosis-font.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </head>
  <body>
    <header>
      <div id="title">
        <h1><a href="/">{{ site.name }}</a></h1>
        <ul>
          <li><a class="button" href="http://twitter.com/jannispohlmann">TWITTER</a></li>
          <li><a class="button" href="/jannis-pohlmann-cv-2014.pdf">CV</a></li>
          <li><a class="button" href="http://linkedin.com/in/jannispohlmann">LINKEDIN</a></li>
          <li><a class="button" href="http://xing.com/profile/Jannis_Pohlmann">XING</a></li>
        </ul>
      </div>
      <div id="about">
        <p id="photo"><img src="/images/jannis.png" alt="Jannis" /></p>
        <p>
          Hi. I am a web, mobile, desktop and embedded developer.
          I am in the process of launching my own company together with
          a friend. I also write music and enjoy life a lot. <br/>
          <br/>
          Contact me via <a href="mailto:jannis@xfce.org">jannis@xfce.org</a>.
        </p>
      </div>
    </header>
    <main>
      {{content}}
    </main>
    <footer>
      <p>Copyright &copy; 2014 Jannis Pohlmann</p>
    </footer>
  </body>
</html>
